.form-main {
    text-align:center;
    background-color: darkgray;
}
.Err {
    color:yellow;
    text-indent: 50px;
    letter-spacing: 2px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: italic;
    font-size: 10px;
}

textarea{
    height: 100px;
    width: 60%;
    align-items: center;
}